
@keyframes bring-left {

	0% {
		opacity: 0;
		right: 2000px;
	}

	100% {
		opacity: 1;
		right: 0px;
	}

}

@keyframes bring-right {

	0% {
		opacity: 0;
		left:2000px;
	}

	100% {
		opacity: 1;
		left: 0px;
	}

}
    
@keyframes reveal {

	0% {
		opacity: 0;
		bottom: 100px;
	}

	50% {
		bottom: -100px;
		opacity: 0.5; 
	}

	100% {
		opacity: 1;
		bottom: 0px;
	}

}

@keyframes revealHero {
  0% {
    opacity: 0;
    margin-top: 0px;
  }

  100% {
    opacity: 1;
    margin-top: 50px;
  }
}

$mobile: "screen and (max-width:500px)";
$tablet: "screen and (min-width:501px) (max-width:1000px)";
$tablet-up: "screen and (min-width:501px)";
$desktop: "screen and (min-width:1001px)";

body {
	margin: 0px;
}

.row {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  max-width: 1000px;
  position: relative;
  z-index: 1;
}

.wrapper {
    position: relative;
    overflow: hidden;
}

.center {
	text-align: center;   
}

#contactWindow {
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s ease;
    top: 50px;
    z-index: 10;
    width: auto;
    height:0px;
    background: rgba(255,255,255,0.95);
    overflow: hidden;
    border-bottom-left-radius:80px;
    border-bottom-right-radius:80px;

    .contWrap {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
              
      label {
        font-family:'Oswald',sans-serif;
        color:#00ACE1;
      }    
              
      #cancelEmail,
      #submitEmail {
        padding:10px 20px;
        border: solid 2px;
        font-family:'Oswald',sans-serif;
        color:#00ACE1;
        border-color:#00ACE1;
        border-radius:30px;
        transition: all 0.3s ease;

        &:hover {
            color:#FFF;
            border-color:#CCC;
            background-color:#00ACE1;
        }
      }
                
    }

}

.nav {
	border-bottom: solid 1px;
	border-color: #ccc;
	display: grid;
	grid-template-columns: auto 500px;
	position: fixed;
	z-index: 3;
	background: rgba(255,255,255,0.95);
  width: 100%;

  @media #{$mobile} {
      grid-template-columns:auto auto;
  }
  
  &__link {
      display: flex;
      align-items: center;
      padding: 25px 5px 5px 5px;
      position: relative;
      right: 0px;
      transition: all 0.3s ease;

      &::before {
        @media #{$desktop}{
          border-radius: 10px;
          border: solid 1px #ccc;
          border-top: none;
          content:'';
          width: 120%;
          height: 100px;
          transform: skew(-20deg);
          background: #fff;
          position: absolute;
          left: 0;
          bottom: -1px;
          z-index: -1;
        }
      }

      &:first-child::before {
        z-index: -2;
      }

      &:hover {
        cursor: pointer;

        .github__link .nav__icon {
          background-color: #007193;
        }

        h3, svg {
          color: #007193;
        }

      }

      @media #{$desktop} {
        &:hover {
          padding-top: 60px;
          right: 10px;
        }
      }

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
      }

      @media #{$mobile} {
          width: 100%;
      }
  }
    
  &__icon {
    align-items: center;
    border-radius: 60px;
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 0px;
    transition: all 0.3s ease;
    width: 40px; 

    svg {
      color: #00ACE1;
      font-size: 24px;
      transition: all 0.3s ease;
      
      @media #{$mobile} {
          font-size: 14px;
      }
    }    

        
    @media #{$mobile} {
        border: none;
        height: 20px;
        width: 20px;
    }
  }

  &__section {
      align-items: center;
      display: flex;
      height: 70px;
            
      @media #{$mobile} {
          justify-content: center;
      }
  }

	.github__link {
		.nav__icon {
			background-color: #00ACE1;

			svg {
				color: #fff;
        font-size: 42px;
        
        @media #{$mobile} {
            font-size: 22px;
        }
			}
		}
	}

	.resume__link {
		text-decoration: none;
	}

	#navLogo	{
    height: 40px;
    margin-left: 20px;
  }
    

  h3 {
		color:  #00ACE1;
		font-size: 10pt;  
		font-family: sans-serif;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 0px;
		padding-right:8px;
	}
    
}

.nopad {
	padding: 0;    
}

.section__hero {
  background-image: url('../img/triangleDesign.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: solid 2px;  
  border-color: #ccc;
  height: 700px;
  position: relative;
  padding-top: 50px;
  overflow: hidden;
  animation-name: revealHero;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  
  &::before {
    background:radial-gradient(circle at center, #fff 0, #fff 75%, rgba(255,255,255,0.1) 100%);
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  
  &__presentation {
    background-image: url('../img/phone.svg');
    position: relative;
    width: 75%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    @media #{$desktop} {
      background-image: url('../img/laptop.svg');
    }
  }

  &__branding {
    width: 35%;
    text-align: center;

    @media #{$desktop} {
      text-align: left;
      width: 25%;
    }

    h1, p {
      color: #00ACE1;
      font-family: sans-serif;
      font-style: italic;
      font-weight: lighter;
      letter-spacing: 10px;
    }

    h1 {
      font-size: 17pt;
      text-transform: uppercase;
    }

  }

  > .row {
    flex-direction: column;

      @media #{$desktop} {
        flex-direction: row;
      }
  }

  #svgMorpher {
    transition: all 0.3s ease;

    @media #{$desktop} {
      margin-bottom: 100px;
    }

    g, path {
      transition: inherit;
    }
  }

}

.section__history {
  background-image: url('../img/back4.jpg');
  background-size: cover;
  background-attachment: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 80px;

	.section__title {
		padding-top: 50px;
		padding-bottom: 50px;
		font-family: sans-serif;
		color: #fff; 
    letter-spacing: 8px;

    @media #{$mobile} {
        text-align: center;
    }

	}

	.entry {
		background-image: linear-gradient(to right,rgba(230, 249, 255, 0.7),rgba(230, 249, 255, 0.1),rgba(230, 249, 255, 0.0));
		border-radius: 7px;
		display: flex;
		height: 140px;
		justify-content: space-between;
		margin-bottom: 20px;
		position: relative;
    width: 800px;
        
    @media #{$mobile} {
        flex-direction: column;
        height: auto;
        overflow: hidden;
        width: 90%;
    }

		&__content {
			padding-left: 20px;

			h2, p {
				color: #474747;
				font-family: sans-serif;
			}

			h2 {
				margin-top: 0px;
			}

		}

		&__time {
			font-weight: lighter;
			margin-bottom: 0px;
    }
        
    &__title {      
        @media #{$mobile} {
            text-align: center;
        }
    }

		&__link {
			align-items: center;
			//background-color: #fff;
			background-color: rgba(255,255,255,0.3);
			display: flex;
			justify-content: space-evenly;
			position: relative;
			width: 300px;
			opacity: 0;
            left: 2000px;
            
            @media #{$mobile} {
                width: 100%;
                img {
                    margin-top: 12px;
                    margin-bottom: 12px;
                }
            }

			a {
				position: relative;
				z-index: 2;
            }
            

			.triangle {
				border: solid 100px;
				border-color: rgba(255,255,255,0.3);
				//box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
				border-left-color: transparent;
				border-top-color: transparent;
				border-right-color: transparent;
				height: 0px;
				left: -100px;
				position: absolute;
				top: 40px; 
				width: 0px;
				transform: rotate(135deg);
			}

		}
	}

	&.present .entry{
		.entry__link {
			animation-name: bring-right;
			animation-duration: 1.0s;
			animation-fill-mode: forwards;
		}
	}
}

.section__slideshow {

	.swiper-container {
		.swiper-slide {
			height: 300px;
		}
	}

}

.section__technologies {
    padding-top: 100px;
    padding-bottom: 100px;

    .section__title {
        font-family: sans-serif;
        font-weight: lighter;
    }

    .technologies {
      width: 100%;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      
      @media #{$desktop} {
          width: 750px;
      }

      .technologies__icon {
        color: #666;
        fill: currentColor;
        cursor: pointer;
        height: 80px;
        margin: 20px 30px;
        opacity: 0;
        position: relative;
        transition: all 0.3s ease;
        width: 64px;
        display: flex;
        align-items: center;
        justify-content: center;

        > span {
          font-family: 'Helvetica', sans-serif;
        }

        img {
          width: 3.5em;
        }

        .darkGrey {
          color: #333;
        }

        .alfGrey {
          color: #555;
        }

        .alfGrey2 {
          color: #aaa;
        }

        .alfGrey3 {
          color: #777;
        }

        .altGrey {
          color: #ccc;
        }

        .altGrey2 {
          color: #ddd;
        }

        .altGrey3 {
          color: #aaa;
        }

        .altGrey4 {
          color: #555;
        }

        .altGrey5 {
          color: #222;
        }

        &:hover {
          cursor: pointer;
          color:#00ACE1;

          .altGrey {
            color: #a0d0df;
          }

          .altGrey2 {
            color: #cae4ec;
          }

          .altGrey3 {
            color: #005875;
          }

          .alfGrey {
            color: #005875;
          }

          .alfGrey2 {
            color: #aaa;
          }

          .alfGrey3 {
            color: #0092c3;
          }

          .altGrey4 {
            color: #444;
          }

          .altGrey5 {
            color: #003242;
          }

          .darkGrey {
            color:#007193;
          }
        }
              
      }

      &.blur,
      &.blur--alt {
          .technologies__icon {
              filter: blur(5px) grayscale(100%);
          }
      }

      &.present .technologies__icon{
          animation-name: reveal;
          animation-duration: 0.2s;
          animation-fill-mode: forwards;
          
          &:nth-child(1),
          &:nth-child(7),
          &:nth-child(13),
          &:nth-child(19) {
              animation-delay: 0.2s;
          }

          &:nth-child(2),
          &:nth-child(8),
          &:nth-child(14),
          &:nth-child(20) {
              animation-delay: 0.4s;
          }

          &:nth-child(3),
          &:nth-child(9),
          &:nth-child(15),
          &:nth-child(21) {
              animation-delay: 0.6s;
          }

          &:nth-child(4),
          &:nth-child(10),
          &:nth-child(16),
          &:nth-child(22) {
              animation-delay: 0.8s;
          }

          &:nth-child(5),
          &:nth-child(11),
          &:nth-child(17),
          &:nth-child(23) {
              animation-delay: 1.0s;
          }

          &:nth-child(6),
          &:nth-child(12),
          &:nth-child(18),
          &:nth-child(24) {
              animation-delay: 1.2s;
          }

      }

    }
}

.sectionStats {
    padding: 20px;
    border-bottom: solid 2px;
    border-color: #ccc;
            
    h3 {
        font-family: 'Oswald', sans-serif;
        color:  #00ACE1;
    }
            
    p {
        font-weight: 200;
    }
            
    .edEntry {
        padding-top: 20px;
        border-bottom: solid 1px;
        border-color:  #00ACE1;
    }

    .bar {

        div {
            height: 10px;
        }
                
        div:nth-child(2) {
            border-left: solid 2px;
            border-right: solid 2px;
            border-color: white;
        }
                    
    }
        
}

.secPortfolio {
    padding: 0;
    position: relative;
    background-color:whitesmoke;
            
    .portfolioTitle {
        font-family: 'Oswald', sans-serif;
        width: 180px;
        position: absolute;
        color:  #00ACE1;
        background-color: #fff;
        border:solid 2px;
        border-color: #ccc;
        border-top-color: #fff;
        border-bottom-left-radius: 80px;
        border-bottom-right-radius: 80px;
        text-align: center;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: -2px;
            
        @media screen and (max-width: 450px) {
            width: 130px;
        }

    } 
        
    .work {
            height: 400px;
            background-color: #00ACE1 ;
            overflow: hidden;
            cursor: default;
            
            @media screen and (max-width: 450px) {
                    height: 180px;
            }
                
            .workWrap {
                    height: 220px;
                    width: 220px;
                    top: 90px;
                    position: relative;
                    border-radius: 200px;
                    border: solid 3px;
                    border-color:#bbb;
                    text-align: center;
                    background-color:whitesmoke;
                    overflow: hidden;
                    cursor: pointer;
                    padding: 0px;
                    
                    @media screen and (min-width: 600px) {
                        height: 180px;
                        width: 180px;
                        top:110px;
                    }
                            
                    @media screen and (max-width: 450px) {
                        height: 150px;
                        width: 150px;
                        top:15px;
                    }
                    
                    h3 {
                        position: relative;
                        font-family:'Roboto Slab';
                        top:75px;
                        font-size:26pt;
                        color:#333;
                    }  
                            
                    img {
                            max-height: 80px;
                            position: relative;
                            top: 70px;
                            transition: all 0.3s ease;
                            filter: contrast(50%);
                                    
                            @media screen and (min-width: 600px) {
                                    height: 70px;
                                    top: 55px;
                            }
                                    
                            @media screen and (max-width: 450px) {
                                    height: 50px;
                                    top: 50px;
                            }
                                    
                    }        
            } 
    }
            
    .firstW {
                    
        @media screen and (max-width: 450px) {
                height: 200px;

                .workWrap {
                        top: 35px;
                }
                
        }
            
    }
			
}

